doctype html
html(lang='en-us')
  head
    include _head
    include _mixins
  body(itemscope, itemtype='https://schema.org/WebPage')
    header(itemscope, itemtype='https://schema.org/WPHeader')
      include _header
      .space
    main(itemscope, itemtype='https://schema.org/Blog')
      include _content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    include _scripts
